.best-deals {
  color: #323232;
  background-color: #d8dbe6;

  &__inner {
    @include container;

    position: relative;
    padding-top: 230px;

    @media (max-width: $mobile-width) {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__panel {
    position: absolute;
    top: -115px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 44px;
    padding-left: 85px;
    padding-right: 65px;
    color: #323232;
    background-color: #eff2f9;

    @media (max-width: $mobile-width) {
      position: relative;
      top: auto;
      left: auto;
      width: auto;
      padding-top: 40px;
      padding-bottom: 15px;
      padding-left: 0;
      padding-right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 410px;
      z-index: 2;
      width: 30px;
      height: 30px;
      background-color: #eff2f9;
      transform: rotate(45deg);

      @media (max-width: $mobile-width) {
        left: 100px;
      }
    }
  }

  &__title {
    max-width: 640px;
    margin-top: 0;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 38px;
    text-align: center;
    color: #002672;

    @media (max-width: $mobile-width) {
      max-width: 210px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__list {
    @include list-reset;

    display: flex;
    justify-content: space-between;
  }

  &__link {
    position: relative;
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 80px;
    padding-right: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 50px;
    vertical-align: top;
    color: inherit;
    text-decoration: none;

    @media (max-width: $mobile-width) {
      width: 80px;
      padding-top: 80px;
      padding-left: 0;
      padding-right: 0;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 62px;
      height: 62px;
      margin-top: 5px;
      background-color: #123885;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      transform: translateY(-50%);

      @media (max-width: $mobile-width) {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--active {
      color: #123885;

      &::before {
        background-color: #fff200;
      }
    }

    &--retail {

      &::before {
        background-image: url("../img/inline/icon-basket--yellow.png");
      }

      &.best-deals__link--active {

        &::before {
          background-image: url("../img/inline/icon-basket--blue.png");
        }
      }
    }

    &--wifi {

      &::before {
        background-image: url("../img/inline/icon-wifi--yellow.png");
      }

      &.best-deals__link--active {

        &::before {
          background-image: url("../img/inline/icon-wifi--blue.png");
        }
      }
    }

    &--call-center {

      &::before {
        background-image: url("../img/inline/icon-phone--yellow.png");
      }

      &.best-deals__link--active {

        &::before {
          background-image: url("../img/inline/icon-phone--blue.png");
        }
      }
    }

    &--logistics {

      &::before {
        background-image: url("../img/inline/icon-arrows--yellow.png");
      }

      &.best-deals__link--active {

        &::before {
          background-image: url("../img/inline/icon-arrows--blue.png");
        }
      }
    }
  }

  &__link-text {
    border-bottom: 1px dotted #c9c9c9;
  }

  &__descriptions-list {
    @include list-reset;

    padding-bottom: 95px;

    @media (max-width: $mobile-width) {
      padding-bottom: 36px;
    }
  }

  &__descriptions-item {
    display: none;

    &--active {
      display: block;
    }
  }
}
