.button {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #123885;
  text-decoration: none;
  border: 3px solid #123885;
}
