.button {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 30px;
  padding-right: 34px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #123885;
  text-decoration: none;
  background-color: transparent;
  border: 3px solid #123885;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
    background-color: #263b82;
    border: none;
  }
}
