.callback {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 44;
  display: none;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);

  @media (max-width: $mobile-width) {
    background-color: #ffffff;
  }

  &--visible {
    display: block;
  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 45;
    padding-top: 27px;
    padding-bottom: 26px;
    padding-left: 24px;
    padding-right: 25px;
    background-color: #ffffff;
    transform: translate(-50%, -50%);

    @media (max-width: $mobile-width) {
      position: static;
      padding-top: 28px;
      transform: translate(0, 0);
    }
  }

  &__top-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    @media (max-width: $mobile-width) {
      flex-wrap: wrap;
      max-width: 500px;
      margin-bottom: 26px;
    }
  }

  &__close {
    position: absolute;
    top: -8px;
    right: -8px;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media (max-width: $mobile-width) {
      position: static;
      order: -1;
      width: 26px;
      height: 20px;
      margin-bottom: 30px;
      margin-right: 15px;
      background-image: url("../img/inline/arrow-left--blue.png");
      background-repeat: no-repeat;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 28.2px;
      height: 1px;
      background-color: #141414;
      transform: translate(-50%, -50%) rotate(45deg);

      @media (max-width: $mobile-width) {
        content: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1px;
      height: 28.2px;
      background-color: #141414;
      transform: translate(-50%, -50%) rotate(45deg);

      @media (max-width: $mobile-width) {
        content: none;
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 14px;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #123885;

    @media (max-width: $mobile-width) {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__help {
    position: relative;
    width: 18px;
    margin-right: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #151515;
    border: 2px solid #fff200;
    border-radius: 50%;

    @media (max-width: $mobile-width) {
      margin-bottom: 30px;
    }

    &:hover {

      .callback__help-tooltip {
        display: block;
      }
    }
  }

  &__help-tooltip {
    position: absolute;
    right: -10px;
    bottom: -60px;
    display: none;
    width: 228px;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    background-color: #000000;

    @media (max-width: $mobile-width) {
      bottom: -70px;
      width: 150px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -6px;
      right: 12px;
      z-index: 20;
      width: 14px;
      height: 14px;
      background-color: #000000;
      transform: rotate(45deg);
    }
  }

  &__tabs {
    @include list-reset;

    display: flex;
    overflow: hidden;
    border: 1px solid #8eaff2;
    border-radius: 20px;
  }

  &__tabs-link {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 14px;
    line-height: 20px;
    color: #123885;
    text-decoration: none;

    @media (max-width: $mobile-width) {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
    }

    &--active {
      color: #ffffff;
      background-color: #123885;
    }
  }

  &__form {
    position: relative;
    padding-top: 36px;
    padding-bottom: 31px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    background-color: #eff2f9;

    @media (max-width: $mobile-width) {
      padding-top: 30px;
      padding-bottom: 50px;
      padding-left: 17px;
      padding-right: 17px;
    }
  }

  &__legend {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
    color: #757575;

    @media (max-width: $mobile-width) {
      margin-bottom: 10px;
    }
  }

  &__contacts {
    margin-bottom: 26px;
    text-align: left;
  }

  &__contacts-list {
    @include list-reset;

    display: flex;
    justify-content: flex-start;

    @media (max-width: $mobile-width) {
      display: block;
    }
  }

  &__contacts-item {
    margin-right: 13px;

    @media (max-width: $mobile-width) {
      margin-bottom: 14px;
      margin-right: 0;
    }

    &:first-child {
      width: 312px;

      @media (max-width: $mobile-width) {
        width: auto;
      }
    }

    &:nth-child(2) {
      flex-grow: 1;
    }

    &:last-child {
      width: 241px;
      margin-right: 0;

      @media (max-width: $mobile-width) {
        width: auto;
        margin-bottom: 0;
      }
    }
  }

  &__address {
    margin-bottom: 26px;
    text-align: left;
  }

  &__address-list {
    @include list-reset;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @media (max-width: $mobile-width) {
      justify-content: space-between;
    }
  }

  &__address-item {
    margin-right: 13px;

    @media (max-width: $mobile-width) {
      margin-bottom: 14px;
      margin-right: 0;
    }

    &:first-child {
      width: 312px;

      @media (max-width: $mobile-width) {
        width: 100%;
      }

      .field-text {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 20px;
          width: 6px;
          height: 10px;
          background-image: url("../img/inline/icon-arrow-right--small--black.png");
          background-repeat: repeat;
          background-position: center;
          transform: translateY(-50%);
        }
      }
    }

    &:nth-child(2) {
      flex-grow: 1;

      @media (max-width: $mobile-width) {
        width: 100%;
      }
    }

    &:nth-child(3) {
      width: 113px;

      @media (max-width: $mobile-width) {
        width: calc((100% - 13px) / 2);
        margin-bottom: 0;
      }
    }

    &:last-child {
      width: 113px;
      margin-right: 0;

      @media (max-width: $mobile-width) {
        width: calc((100% - 13px) / 2);
        margin-bottom: 0;
        margin-right: 0;
      }
    }
  }

  &__selects-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (max-width: $mobile-width) {
      display: block;
      margin-bottom: 26px;
    }
  }

  &__type {
    width: 405px;
    margin-right: 13px;
    text-align: left;

    @media (max-width: $mobile-width) {
      width: auto;
      margin-bottom: 15px;
      margin-right: 0;
    }
  }

  &__topic {
    width: 405px;
    text-align: left;

    @media (max-width: $mobile-width) {
      width: auto;
    }
  }

  &__text {
    margin-bottom: 30px;
    text-align: left;
  }

  &__submit {
    width: 192px;
    transform: translateX(-10px);

    @media (max-width: $mobile-width) {
      margin-left: auto;
      margin-right: auto;
      padding-top: 24px;
      padding-bottom: 24px;
      font-size: 16px;
      transform: translateX(0);
    }
  }

  &__notice {
    position: absolute;
    right: 15px;
    bottom: 16px;
    width: 130px;
    padding-left: 40px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: #898c94;

    @media (max-width: $mobile-width) {
      position: static;
      width: auto;
      margin-bottom: 30px;
      padding-left: 0;
      text-align: center;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 28px;
      height: 24px;
      background-image: url("../img/inline/icon-warning.png");
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(-50%);

      @media (max-width: $mobile-width) {
        content: none;
      }
    }
  }
}
