.features-item {
  text-align: center;

  &__title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 83px;
    line-height: 84px;
    color: #eff2f9;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    @media (max-width: $mobile-width) {
      font-size: 18px;
      line-height: 22px;
      border-bottom: none;
    }
  }

  &__description {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
    font-size: 21px;
    line-height: 22px;

    @media (max-width: $mobile-width) {
      font-size: 11px;
      line-height: 12px;
    }
  }
}
