.features {
  color: #ffffff;
  background-color: #7e7773;
  background-image: url("../img/bg-features.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    @include container;
  }

  &__title {
    @include visually-hidden;
  }

  &__list {
    @include list-reset;
  }
}
