.field-select {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 18px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border: 0 solid transparent;
    border-top: 6px solid black;
    border-right-width: 6px;
    border-left-width: 6px;
  }

  &__select {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: inherit;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    appearance: none;

    ::-ms-expand {
      display: none;
    }

    &:invalid {
      font-weight: 300;
      font-size: 14px;
      color: #b3b3b3;
    }
  }

  &__option {
    color: #000000;
  }
}
