.main-nav {
  color: #ffffff;
  background-color: #002672;

  @media (max-width: $mobile-width) {
    color: #ffffff;
    background-color: #123885;
  }

  &__list {
    @include list-reset;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1072px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $mobile-width) {
      display: block;
      max-width: none;
    }
  }

  &__link {
    display: block;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15px;
    line-height: 18px;
    color: inherit;
    text-decoration: none;

    &--active {
      color: #fff200;
    }
  }

  &__sub-nav {
    display: none;
  }
}
