.page-header {
  display: flex;
  flex-wrap: wrap;
  min-height: 67px;

  &__logo {
    position: absolute;
    top: 10px;
    left: calc((100vw - 1072px + 46px) / 2);

    @media (max-width: $mobile-width) {
      left: 24px;
    }
  }

  &__inner {
    position: relative;
    flex-grow: 1;

    @media (max-width: $mobile-width) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      display: flex;
      display: none;
      flex-direction: column;
      box-sizing: border-box;
      width: calc(100% - 24px);
      padding-top: 100px;
      padding-left: 24px;
      padding-right: 24px;
      color: #ffffff;
      background-color: #123885;
    }
  }

  &__open {
    display: none;

    @media (max-width: $mobile-width) {
      position: absolute;
      top: 10px;
      right: 24px;
      display: block;
      width: 40px;
      height: 40px;
      padding: 0;
      font-size: 0;
      background-color: transparent;
      border: none;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 24px;
        height: 4px;
        background-color: #263b82;
        box-shadow:
        0 -8px 0 0 #263b82,
        0 8px 0 0 #263b82;
        transform: translateY(-50%);
      }
    }
  }

  &__close {
    display: none;

    @media (max-width: $mobile-width) {
      position: absolute;
      top: 20px;
      right: 24px;
      display: block;
      width: 20px;
      height: 20px;
      padding: 0;
      font-size: 0;
      background-color: transparent;
      border: none;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 28.2px;
        height: 1px;
        background-color: #8cabe8;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 28.2px;
        background-color: #8cabe8;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  &__top-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1072px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 265px;
    padding-right: 30px;

    @media (max-width: $mobile-width) {
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
    }
  }

  &__current-city {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;

    @media (max-width: $mobile-width) {
      position: relative;
      display: inline-block;
      margin-bottom: 10px;
      padding-right: 15px;
      color: #ffffff;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 6px;
        height: 10px;
        background-image: url("../img/inline/icon-arrow-right--small.png");
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(-50%);
      }
    }
  }

  &__current-tel {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #686767;

    @media (max-width: $mobile-width) {
      color: #ffffff;
    }
  }

  &__tabs {
    @include list-reset;

    display: flex;

    @media (max-width: $mobile-width) {
      position: absolute;
      top: 0;
      left: 13px;
    }
  }

  &__tabs-link {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 11px;
    padding-right: 11px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #c0c0c0;
    text-decoration: none;

    @media (max-width: $mobile-width) {
      color: rgba(255, 255, 255, 0.2);
    }

    &--active {
      position: relative;
      color: #123885;

      @media (max-width: $mobile-width) {
        color: #ffffff;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 11px;
        width: calc(100% - 22px);
        height: 4px;
        background-color: #fff200;
      }
    }
  }

  &__user-block {
    @media (max-width: $mobile-width) {
      order: -1;
      margin-bottom: 20px;
    }
  }

  &__nav {
    order: -1;
  }
}
